body {
  margin: 5px;
}

li {
  border: solid 1px black;
  padding: 5px;
}

img {
  width: 50px
}

ol p {
  height: 20px
}

.categories {
  display: block;
}

.active {
  border: solid 2px green
}

.games-on-page, .sort {
  margin: 10px;
}

.favorite-game {
  border: solid 2px green
}
