<div ng-hide='$ctrl.favAlert' class='fav-alert' ng-click='$ctrl.hideFavAlert()'>
    <p>Only 5 games can be added to favorites</p>
    <p>click to continue</p>
</div>

<div class='games-on-page' ng-init="selectedGPP = '50'">
    <button 
        ng-class="{'active':selectedGPP === '50'}"
        ng-click='$ctrl.changeGamesPerPage($event);selectedGPP = "50"'>50</button>
    <button 
        ng-class="{'active':selectedGPP === '100'}"
        ng-click='$ctrl.changeGamesPerPage($event);selectedGPP = "100"'>100</button>
</div>

<div class='sort' ng-init="selectedSort = 'name'">
    <button 
        ng-class="{'active':selectedSort === 'name'}" 
        ng-click='$ctrl.changeOrder($event);selectedSort = "name"'
        id='sbn'>Sort by Name</button>
    <button 
        ng-class="{'active':selectedSort === 'id'}" 
        ng-click='$ctrl.changeOrder($event);selectedSort = "id"'
        id='sbi'>Sort by ID</button>
</div>

<button 
    ng-init='rev = $ctrl.reverse' 
    ng-class="{'active' : rev === '-'}" 
    ng-click='$ctrl.changeReverse($event);rev=$ctrl.reverse' 
    id='rvsbtn'>Reverse</button>

<div ng-init='cat={name:"all"}' class='categories'>
    <button 
        ng-class="{'active' : cat.name === 'all'}" 
        ng-click='$ctrl.changeCategory(0);cat.name="all"'>All</button>
    <button 
        ng-repeat='button in $ctrl.categories'
        ng-class="{'active': cat.name === $index}"
        ng-click='$ctrl.changeCategory(button.ID);cat.name = $index'>{{button.Trans.en}}</button>
    <button 
        ng-class="{'active': cat.name === 'favgames'}"
        ng-click='$ctrl.changeCategory(-1);cat.name = "favgames"'>Favorite games</button>
</div>
<input ng-model='query'>
<ol>
    <li class='favorite-game'
        ng-repeat='game in $ctrl.locStor |category:$ctrl.category | orderBy:$ctrl.reverse+$ctrl.sortBy | search:query:$ctrl.page:$ctrl.gamesOnPage:false'>
        {{game.Name.en}}
        %%{{game.ID}}%%
        <img ng-src={{game.ImageFullPath}} alt="{{game.Name.en}}">
        <button ng-click='$ctrl.addFavorite(game.ID,game)'>Unfollow</button>
        <p>{{game.Description.en}}</p>
    </li>
    <div ng-hide="$ctrl.showMainList">
    <li
        ng-repeat='game in _.differenceBy($ctrl.games,$ctrl.locStor,"ID") |category:$ctrl.category | orderBy:$ctrl.reverse+$ctrl.sortBy | search:query:$ctrl.page:$ctrl.gamesOnPage:true'
        >
        {{game.Name.en}}
        **{{game.ID}}**
        <img ng-src={{game.ImageFullPath}} alt="{{game.Name.en}}">
        <button ng-click='$ctrl.addFavorite(game.ID,game)'>Follow</button>
        <p>{{game.Description.en}}</p>
    </li>
</div>
</ol>
<div ng-hide='$ctrl.favList'>Nothing...</div>
<div ng-init='pages={name:$ctrl.page}'
    ng-hide="$ctrl.showMainList">
    <button
        ng-class="{'active': $ctrl.page === $index+1}" 
        ng-repeat='button in _.range((($ctrl.games | category:$ctrl.category | searchForButtons:query).length)/$ctrl.gamesOnPage)'
        ng-click='$ctrl.changePage(+$index);pages.name = $ctrl.page'>{{$index+1}}</button
        >
</div>